---
apiVersion: v2
# renovate datasource=docker registryUrl=https://docker.io depName=kanboard/kanboard
appVersion: v1.2.49
description: Kanboard is a free and open source Kanban project management software.
name: kanboard
version: 6.0.16
kubeVersion: ">=1.16.0-0"
keywords:
  - kanboard
  - kanban
home: https://github.com/johanneskastl/helm-charts/tree/main/charts/kanboard
icon: https://raw.githubusercontent.com/kanboard/website/master/assets/img/icon.svg
sources:
  - https://github.com/kanboard/kanboard
maintainers:
  - name: johanneskastl
    email: git@johannes-kastl.de
dependencies:
  - name: common
    repository: https://johanneskastl.github.io/helm-charts/
    version: 5.0.5
  - name: postgresql
    version: 11.6.12
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: changed
      description: update kanboard to v1.2.49
