{{- define "custom.changelog.header" -}}
## Changelog
{{- end -}}

{{- define "custom.changelog" -}}
{{ template "custom.changelog.header" . }}

All notable changes to this Helm chart will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

### Version 0.32.1

#### Added

* comment in Chart.yaml to allow updates via Renovatebot

#### Changed

* adapt README to new name 'authkey' for environment variable

### Version 0.32.0

#### Added

* add permission to patch the secret (thanks @Thiesjoo)

#### Changed

N/A

### Version 0.31.6

#### Added

N/A

#### Changed

* update appVersion to v1.90.6

### Version 0.31.5

#### Added

N/A

#### Changed

* update appVersion to v1.90.5

### Version 0.31.0

#### Added

N/A

#### Changed

* update appVersion to v1.90.0

### Version 0.30.2

#### Added

N/A

#### Changed

* update appVersion to v1.88.4

### Version 0.30.0

#### Added

N/A

#### Changed

* update appVersion to v1.88.2

### Version 0.29.1

#### Added

N/A

#### Changed

* update appVersion to v1.86.5

### Version 0.29.0

#### Added

N/A

#### Changed

* update appVersion to v1.86.2

### Version 0.28.3

#### Added

N/A

#### Changed

* update appVersion to v1.84.3

### Version 0.28.2

#### Added

N/A

#### Changed

* update appVersion to v1.84.2

### Version 0.28.0

#### Added

N/A

#### Changed

* update appVersion to v1.84.0

### Version 0.27.1

#### Added

N/A

#### Changed

* update appVersion to v1.82.5

### Version 0.27.0

#### Added

N/A

#### Changed

* update appVersion to v1.82.0

### Version 0.26.3

#### Added

N/A

#### Changed

* update appVersion to v1.80.3

### Version 0.26.1

#### Added

N/A

#### Changed

* update appVersion to v1.80.1

### Version 0.26.0

#### Added

N/A

#### Changed

* update appVersion to v1.80.0

### Version 0.24.3

#### Added

N/A

#### Changed

* update appVersion to v1.78.3

### Version 0.24.2

#### Added

N/A

#### Changed

* update appVersion to v1.78.2

### Version 0.24.1

#### Added

N/A

#### Changed

* update appVersion to v1.78.1

### Version 0.24.0

#### Added

N/A

#### Changed

* update appVersion to v1.78.0

### Version 0.22.4

#### Added

N/A

#### Changed

* update appVersion to v1.76.6

### Version 0.22.3

#### Added

N/A

#### Changed

* update appVersion to v1.76.3

### Version 0.22.1

#### Added

N/A

#### Changed

* update appVersion to v1.76.1

### Version 0.22.0

#### Added

N/A

#### Changed

* update appVersion to 1.76.0

### Version 0.21.1

#### Added

N/A

#### Changed

* update appVersion to 1.74.1

### Version 0.21.0

#### Added

N/A

#### Changed

* update appVersion to 1.74.0

### Version 0.20.0

#### Added

N/A

#### Changed

* update appVersion to 1.72.0

### Version 0.19.0

#### Added

N/A

#### Changed

* update appVersion to 1.70.0

### Version 0.18.1

#### Added

N/A

#### Changed

* update appVersion to 1.68.1

### Version 0.18.0

#### Added

N/A

#### Changed

* update appVersion to 1.68.0

### Version 0.16.4

#### Added

N/A

#### Changed

* update appVersion to 1.66.4

### Version 0.16.3

#### Added

N/A

#### Changed

* update appVersion to 1.66.3

### Version 0.16.2

#### Added

N/A

#### Changed

* update appVersion to 1.66.2

### Version 0.16.1

#### Added

N/A

#### Changed

* update appVersion to 1.66.1
* use image from ghcr.io registry

### Version 0.16.0

#### Added

N/A

#### Changed

* update appVersion to 1.66.0

### Version 0.14.2

#### Added

N/A

#### Changed

* update appVersion to 1.64.2

### Version 0.14.1

#### Added

N/A

#### Changed

* update appVersion to 1.64.1

### Version 0.14.0

#### Added

N/A

#### Changed

* update appVersion to 1.64.0

### Version 0.12.1

#### Added

N/A

#### Changed

* update appVersion to 1.62.1

### Version 0.12.0

#### Added

N/A

#### Changed

* update appVersion to 1.62.0

### Version 0.11.1

#### Added

N/A

#### Changed

* update appVersion to 1.60.1

### Version 0.11.0

#### Added

N/A

#### Changed

* update appVersion to 1.60.0

#### Fixed

N/A

### Version 0.10.2

#### Added

N/A

#### Changed

* update appVersion to 1.58.2

#### Fixed

N/A

### Version 0.10.1

#### Added

N/A

#### Changed

* update appVersion to 1.58.1

#### Fixed

N/A

### Version 0.10.0

#### Added

N/A

#### Changed

* update appVersion to 1.58.0

#### Fixed

N/A

### Version 0.9.1

#### Added

N/A

#### Changed

* update appVersion to 1.56.1

#### Fixed

N/A

### Version 0.9.0

#### Added

N/A

#### Changed

* update appVersion to 1.56.0

#### Fixed

N/A

### Version 0.8.1

#### Added

N/A

#### Changed

* update appVersion to 1.54.1

#### Fixed

N/A

### Version 0.8.0

#### Added

N/A

#### Changed

* update appVersion to 1.54.0

#### Fixed

N/A

### Version 0.7.1

#### Added

N/A

#### Changed

* update appVersion to 1.52.1

#### Fixed

N/A

### Version 0.7.0

#### Added

N/A

#### Changed

* update appVersion to 1.52.0

#### Fixed

N/A

### Version 0.6.1

#### Added

N/A

#### Changed

* update appVersion to 1.50.1

#### Fixed

N/A

### Version 0.6.0

#### Added

N/A

#### Changed

* update appVersion to 1.50.0

#### Fixed

N/A

### Version 0.5.2

#### Added

N/A

#### Changed

* update appVersion to 1.48.2

#### Fixed

N/A

### Version 0.5.1

#### Added

N/A

#### Changed

* update appVersion to 1.48.1

#### Fixed

N/A

### Version 0.5.0

#### Added

N/A

#### Changed

* update appVersion to 1.48.0

#### Fixed

N/A

### Version 0.4.1

#### Added

N/A

#### Changed

* update appVersion to 1.46.1

#### Fixed

N/A

### Version 0.4.0

#### Added

N/A

#### Changed

* update appVersion to 1.46.0

#### Fixed

N/A

### Version 0.3.2

#### Added

N/A

#### Changed

* update appVersion to 1.44.2

#### Fixed

N/A

### Version 0.3.0

#### Added

N/A

#### Changed

* update appVersion to 1.44.0

#### Fixed

N/A

### Version 0.2.1

#### Added

N/A

#### Changed

* update appVersion to 1.42.1

#### Fixed

N/A

### Version 0.2.0

#### Added

N/A

#### Changed

* update appVersion to 1.42.0

#### Fixed

N/A

### Version 0.1.1

#### Added

N/A

#### Changed

* update appVersion to 1.40.1

#### Fixed

N/A

### Version 0.1.0

#### Added

N/A

#### Changed

* update appVersion to 1.40.0

#### Fixed

N/A

### Version 0.0.5

#### Added

N/A

#### Changed

* update appVersion to 1.38.4

#### Fixed

N/A

### Version 0.0.4

#### Added

N/A

#### Changed

* update appVersion to 1.38.3

#### Fixed

N/A

### Version 0.0.3

#### Added

N/A

#### Changed

* generate README with helm-docs

#### Fixed

N/A

### Version 0.0.2

#### Added

* README.md added

#### Changed

* the `envFrom` section is no longer set in the values.yaml to avoid duplicate settings. Instead it is using the secret name from the `env.TS_KUBE_SECRET`

#### Fixed

N/A

### Version 0.0.1

First version of the chart, with appVersion v1.38.2
{{- end -}}
