---
apiVersion: v2
# renovate datasource=docker registryUrl=ghcr.io depName=0xerr0r/blocky
appVersion: v0.27.0
description: DNS proxy as ad-blocker for local network
name: blocky
version: 11.8.4
kubeVersion: ">=1.19.0-0"
keywords:
  - blocky
  - adblock
  - dns
home: https://github.com/johanneskastl/helm-charts/tree/main/charts/blocky
icon: https://github.com/0xERR0R/blocky/raw/master/docs/blocky.svg?sanitize=true
sources:
  - https://github.com/0xERR0R/blocky
maintainers:
  - name: johanneskastl
    email: git@johannes-kastl.de
dependencies:
  - name: common
    repository: https://johanneskastl.github.io/helm-charts/
    version: 5.0.5
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 23.2.12
    condition: redis.enabled
annotations:
  artifacthub.io/changes: |-
    - kind: added
      description: comment in Chart.yaml to allow updates via Renovatebot
