{{- define "custom.changelog.header" -}}
## Changelog
{{- end -}}

{{- define "custom.changelog" -}}
{{ template "custom.changelog.header" . }}

All notable changes to this Helm chart will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

### 2.2.25

#### Added

N/A

#### Changed

- update appVersion to 1.10.3-ls162

### 2.2.24

#### Added

N/A

#### Changed

- update appVersion to 1.10.3-ls161

### 2.2.23

#### Added

N/A

#### Changed

- update appVersion to 1.10.2-ls161

### 2.2.22

#### Added

N/A

#### Changed

- update appVersion to 1.10.2-ls160

### 2.2.21

#### Added

N/A

#### Changed

- update appVersion to 1.10.2-ls159

### 2.2.20

#### Added

N/A

#### Changed

- update appVersion to 1.10.2-ls158

### 2.2.19

#### Added

N/A

#### Changed

- update appVersion to 1.10.2-ls157

### 2.2.17

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls156

### 2.2.16

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls155

### 2.2.15

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls154

### 2.2.14

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls153

### 2.2.13

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls152

### 2.2.12

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls151

### 2.2.11

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls150

### 2.2.10

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls149

### 2.2.9

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls148

### 2.2.8

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls147

### 2.2.7

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls146

### 2.2.6

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls145

### 2.2.5

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls144

### 2.2.4

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls143

### 2.2.3

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls142

### 2.2.2

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls141

### 2.2.1

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls140

### 2.2.0

#### Added

N/A

#### Changed

- update appVersion to 1.10.0-ls138

### 2.1.42

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls139

### 2.1.41

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls137

### 2.1.40

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls136

### 2.1.39

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls135

### 2.1.38

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls134

### 2.1.37

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls133

### 2.1.36

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls132

### 2.1.35

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls131

### 2.1.34

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls130

### 2.1.33

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls129

### 2.1.32

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls128
- update dependency common to 5.0.5

### 2.1.31

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls127

### 2.1.30

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls126

### 2.1.29

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls125

### 2.1.28

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls124

### 2.1.27

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls123

### 2.1.26

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls122

### 2.1.25

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls121

### 2.1.24

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls120

### 2.1.23

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls119

### 2.1.22

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls118

### 2.1.21

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls117

### 2.1.20

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls116

### 2.1.19

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls115

### 2.1.18

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls114

### 2.1.17

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls113

### 2.1.16

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls112

### 2.1.15

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls111

### 2.1.14

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls110

#### Fixed

N/A

### 2.1.13

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls109

#### Fixed

N/A

### 2.1.12

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls108

#### Fixed

N/A

### 2.1.11

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls107

#### Fixed

N/A

### 2.1.10

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls106

#### Fixed

N/A

### 2.1.9

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls105

#### Fixed

N/A

### 2.1.8

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls104

#### Fixed

N/A

### 2.1.7

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls103

#### Fixed

N/A

### 2.1.6

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls102

#### Fixed

N/A

### 2.1.5

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls101

#### Fixed

N/A

### 2.1.4

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls100

#### Fixed

N/A

### 2.1.3

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls99

#### Fixed

N/A

### 2.1.2

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls98

#### Fixed

N/A

### 2.1.1

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls97

#### Fixed

N/A

### 2.1.0

#### Added

N/A

#### Changed

- update appVersion to 1.9.9-ls96

#### Fixed

N/A

### 2.0.11

#### Added

N/A

#### Changed

- update appVersion to 1.9.8-ls95

#### Fixed

N/A

### 2.0.10

#### Added

N/A

#### Changed

- update appVersion to 1.9.8

#### Fixed

N/A

### 2.0.9

#### Added

N/A

#### Changed

- set required Kubernetes version (to 1.19, so pretty old...)

#### Fixed

N/A

### 2.0.8

#### Added

N/A

#### Changed

- update appVersion to 1.9.7

#### Fixed

N/A

### 2.0.7

#### Added

N/A

#### Changed

- update appVersion to 1.9.6

#### Fixed

N/A

### 2.0.6

#### Added

N/A

#### Changed

- update appVersion to 1.9.5

#### Fixed

N/A

### 2.0.5

#### Added

N/A

#### Changed

- update appVersion to 1.9.4

#### Fixed

N/A

### 2.0.4

#### Added

N/A

#### Changed

- update appVersion to 1.9.3

#### Fixed

N/A

### 2.0.3

#### Added

N/A

#### Changed

- update appVersion to 1.9.2

#### Fixed

N/A

### 2.0.2

#### Added

N/A

#### Changed

- update appVersion to 1.9.1

#### Fixed

N/A

### 2.0.1

#### Added

N/A

#### Changed

- whitespace fixes in values.schema.json

#### Fixed

N/A

### 2.0.0

#### Added

N/A

#### Changed

- Forked the chart from Nicholas Wilde at version 1.1.0

#### Fixed

N/A

{{- end -}}
