---
apiVersion: v2
# renovate datasource=docker registryUrl=ghcr.io depName=internetsystemsconsortium/bind9
appVersion: 9.19
description: A Helm chart for Bind9 using the official ISC docker image
name: bind9
version: 0.5.2
kubeVersion: ">=1.16.0-0"
keywords:
  - bind9
  - named
  - dns
  - resolver
home: https://github.com/johanneskastl/helm-charts/tree/main/charts/bind9
icon: https://www.isc.org/images/isclogos/Bind_9_ISC_Blue.jpg
sources:
  - https://gitlab.isc.org/isc-projects/bind9
maintainers:
  - name: johanneskastl
    email: kastl@b1-systems.de
dependencies:
  - name: common
    repository: https://johanneskastl.github.io/helm-charts/
    version: 5.0.5
annotations:
  artifacthub.io/changes: |-
    - kind: added
      description: comment in Chart.yaml to allow updates via Renovatebot
